// -------------------------
// Gray colors
// -------------------------
$text-black:              rgba(0,0,0, .80)        !default;
$text-gray:               rgba(0,0,0, .50)        !default;
$text-gray-light:         rgba(0,0,0, .30)        !default;
$text-white:              rgba(255,255,255, .90)  !default;
$text-white-light:        rgba(255,255,255, .70)  !default;


$brand:                   #a0c775                 !default;

$brand1:                  $brand;
$brand2:                  #e74259                 !default;
$brand3:                  #fed587                 !default;
$brand4:                  #cc6699                 !default;
$brand5:                  #498db0                 !default;
$brand6:                  #f09033                 !default;
$brand7:                  #5ab788                 !default;
$brand8:                  #e74259                 !default;
$brand9:                  #fed587                 !default;





$brand-color:             $brand;


// -------------------------
// Global Background colors.
// -------------------------
$main-bg:               darken(#fff, 5%) !default; // result: #f2f2f2
$body-bg:               $main-bg; //** Background color for `<body>`
$dark-bg:               #e5e5e5 !default;
$soft-bg:               #f8f8f8 !default;
$brand-bg:              $brand-color !default;
$bright-bg:             $white !default;

// -------------------------
// Global Border color
// -------------------------
$main-border-color:     #ccc !default;


// -------------------------
// App colors
// -------------------------
$appColorz: (
    black:          $text-black,
    gray:           $text-gray,
    gray-light:     $text-gray-light,
    white:          $text-white,
    white-light:    $text-white-light,
    
    brand:          $brand,
    brand1:         $brand,
    brand2:         $brand2,
    brand3:         $brand3,
    brand4:         $brand4,
    brand5:         $brand5,
    brand6:         $brand6,
    brand7:         $brand7,
    brand8:         $brand8,
    brand9:         $brand9
);

$brandColorz: (
    brand:          $brand,
    brand1:         $brand,
    brand2:         $brand2,
    brand3:         $brand3,
    brand4:         $brand4,
    brand5:         $brand5,
    brand6:         $brand6,
    brand7:         $brand7,
    brand8:         $brand8,
    brand9:         $brand9
);