// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Font-Weights
$thin:            300      !default;
$regular:         400      !default;
$semi:            600      !default;
$bold:            700      !default;
$xtra:            800      !default;


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Font-Sizes
$display-size:    3.53rem      !default;
$headline-size:   2.65rem      !default;
$title-size:      2rem         !default;
$subheader-size:  1.47rem    !default;
$body-size:       1rem      !default;
$caption-size:    0.9rem    !default;
$small-size:      0.75rem   !default;


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$textSizes: (
  display:      $display-size,
  headline:     $headline-size,
  title:        $title-size,
  subheader:    $subheader-size,
  body:         $body-size,
  caption:      $caption-size,
  small:        $small-size
);
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$textWeights: (
  display:      $semi,
  headline:     $regular,
  title:        $semi,
  subheader:    $regular,
  body:         $regular,
  caption:      $regular,
  small:        $regular
);
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$textBoldWeights: (
  display:      $xtra,
  headline:     $bold,
  title:        $bold,
  subheader:    $semi,
  body:         $bold,
  caption:      $bold,
  small:        $bold
);
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


$line-height:     1.42      !default;


$sansFontFamily:      "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:     Georgia, "Times New Roman", Times, serif;
$monoFontFamily:      Monaco, Menlo, Consolas, "Courier New", monospace;

