@each $txtName, $txtSize in $textSizes {
    // .#{$txtName}, .txt-#{$txtName}, .#{$txtName}-txt  {
    .txt-#{$txtName}, .#{$txtName}-txt,
    .text-#{$txtName}, .#{$txtName}-text  {
        font-size: #{ $txtSize };
        color: $text-black;
        &.secondary, &.light { color: $text-gray; }
        &.disabled, &.lighter, &.off { color: $text-gray-light; }
    }
}



// Bold text
// strong, *.bold, label, th { font-weight: $bold !important; }
strong, *.bold, *.strong { font-weight: $bold !important; }

// Semi-Bold text
.semi   { font-weight: $semi !important; }

// Semi-Bold text
.regular   { font-weight: $regular !important; }

// Semi-Bold text
.thin   { font-weight: $thin !important; }

// Semi-Bold text
.italic   { font-style: italic !important; }

// Monospace Font
.mono   { font-family: $monoFontFamily; }

// upcased text
@mixin upcase {
  text-transform: uppercase;
  // letter-spacing: 2px;
  // word-spacing: 3px;
  letter-spacing: .05em;
  word-spacing: .1em;
}
.upcase {
  @include upcase;
}